*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
img{
    height: 200px;
    position: relative;
    animation-name: om-anime;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes om-anime {
    /* from{
        left:0;
        top:0;
    }
    to{
        left: 80%;
        top: 50%;
    } */
    
    0%{
        left:0;
        top:0;
        rotate: 360deg;
    }
    50%{
        left: 70%;
        top: 0%;
        rotate: 0deg;
    }
    100%{
        left: 70%;
        top: 50%;
        rotate: 360deg;
    }
}