*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#box1{
    height: 300px;
    width: 300px;
    background-color: red;
    position: relative;
    animation-name: box-anime;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    /* animation-duration: normal; */
    direction: reverse;
    animation-timing-function: ease-in-out;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    position: relative;
    animation-name: box-anime;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    direction: alternate;
    animation-timing-function: ease-in;
}
@keyframes box-anime {
    from {
        left: 0;
    }
    to {
        left: 70%;
    }

}