*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    /* background-color: white; */
    position: fixed;
    z-index: 999;
    border: 1px solid #ffffffbe;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #030303;
    z-index: 999;
    padding: 20vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-duration: 1s;
    opacity: 0;
    animation-iteration-count: infinite;
}

@keyframes Now-anime{
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'plain light';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: #151515; */
    position: relative;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
}
#hero1::before{
    content: '01';
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    left: 20%;
    top: 29%;
} 
.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3; */
    
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00
}
#page2{
    height: 100vh;
    width: 100%;
    padding-top: 18vh;
    position: relative;
    /* background-color: #FFA63D; */
}
#video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    /* background-color: red; */
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}
#video-cursor{
    background-color: #FFA63D;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
#video-cursor i{
    font-size: 2vw;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#page3{
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(114, 113, 113); */
    position: relative;
    padding: 17vh 2vw;
}
#page3 .underline{
    margin-left: 28vw;
}
#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}
#page3 h1::before{
    content: '02';
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    left: -12%;
    top: 8%;
}
#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.image-div{
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
    /* background-color: blue; */
}
.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.page3-circle1{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    position: relative;
}
.page3-circle1 svg{
    height: 33%;
}
.page3-circle2{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 23vh; */
    /* margin-left: 10vw; */
    position: relative;
}
.page3-circle2 svg{
    height: 33%;
    rotate: -45deg;
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}
.circle-in p{
    font-size: 0.95vw;
    color: #000;
    width: 60%;
    font-weight: 500;
    scale: 0;   
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}
.page3-circle1:hover .circle-in{
    scale: 1;
    transition: all ease 0.5s;
}
.page3-circle1:hover p{
    scale: 1;
    transition: all ease 0.5s;
}
.page3-circle2:hover .circle-in{
    scale: 1;
    transition: all ease 0.5s;
}
.page3-circle2:hover p{
    scale: 1;
    transition: all ease 0.5s;
}

#page4{
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(114, 113, 113); */
    position: relative;
    padding: 7vh 0;
   
}
#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-content h1::before{
    content: '03';
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    left: -12%;
    top: 8%;
}
#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}
#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 48%;
}
#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}
#page4-blue-div{
    background-color: #3F7DF4;
    width: 33vw;
    padding:3vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}
.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    /* background-color: red; */
    border-bottom: 2px solid #ffffff94;
}
.blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.blue-div-elem p{
    width: 40%;
    font-size: 0.7vw;
}
#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{ 
        transform: translateX(calc(-100% - 20px));
    }
}
.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}
.elem2 span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
} 
#footer{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}
#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
    /* background-color: blue; */
    position: relative;
}
#footer h1::before{
    content: '04';
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    left: -12%;
    top: 8%;
}
.underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 0vw;
}
#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}
.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.4vw;
    font-weight: 500;
    /* margin: 0.1vh 0; */
}
#footer>h5{
    font-weight: 500;
    font-size: 1vw;
}
._canvas_container{
    z-index: 999999 !important;
}

#flag{
     height: 25vw;
     position: absolute;
     top:0;
     left: 0;
     opacity: 0;
     transform: translate(-50%,-50%);
}
#hero3{
    /* background-color: red;; */
    z-index: 999;
    position: relative;
}

@media screen and (max-width: 600px) {
    #page1{
        height:60vh;
        /* background-color:red; */
    }
    #page1 #nav{
        justify-content: flex-end;
        padding: 4.3vw 5vw;
        top:0;
    }
    #nav svg{
        scale: 0.8;
    }
    #nav-part2{
        display: none;
    }
    #nav-part2 h4{
        font-size: 0.8vw;
        font-weight: 500;
    }
    .hero{
        /* background-color: red; */
        width: 72%;
        margin-left:5%;
    }
    .hero:nth-child(2){
        margin-top: 25vh;
    }
    .hero h1{
        font-size: 9.8vw;
        line-height: 10.5vw;
    }
    #hero1::before{
        font-size: 5vw;
        font-weight: 100;
        left: 5%;
        top: 37%;
    } 
    .hero h2{
        font-size: 9.8vw;
        line-height: 10.5vw;
        border-bottom: 0.6vw solid #fff;
    }
    #page2{
        height: 58vh;
        padding-top: 6vh;
    }
    #video-container img{
        top: 0;
    }
    #video-container{
        height: 52vh;
        width: 100vw;
        left: 0%;
    }
    #video-cursor{
        height: 25vw;
        width: 25vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #video-cursor i{
        font-size: 5vw;
    }
    #page3{
        padding: 17vh 3vw 0 3vw;
        margin-top: 0%;
        margin-bottom: 0vh;
    }
    #page3 .underline{
        margin-left: 2vw;
        width: 94%;
    }
    #page3 h1{
        font-size: 9.5vw;
        margin-left: 2vw;
        margin-bottom: 5vw;
    }
    #page3 h1::before{
        font-size: 5vw;
        left: 0%;
        top: -56%;
    }
    #image-div-container{
        margin-top: 10vw;
        flex-direction: column;
    }
    .image-div{
        height: 110vw;
        width: 90vw;
        margin-bottom: 8vw;
    }
    .image-div:nth-child(1){
        height: 110vw;
        width: 90vw;
    }
    .page3-circle1{
        display: none;
    }
    .page3-circle2{
        display: none;
    }
    #page4{
        padding: 10vh 5vw;
    }
    #page4-content{
        width: 90vw;
        margin-left: 0%;
    }
    #page4-content h1{
        font-size: 9.5vw;
    }
    #page4-content h1::before{
        font-size: 3vw;
        left: -12%;
        top: 8%;
    }
    #page4-content .underline{
        width: 100%;
        margin: 5vw 0 10vw 0;
    }
    #page4-content>p{
        font-size: 5.8vw;
        width: 90%;
    }
    #page4-flex{
        flex-direction: column;
    }
    #page4-flex img{
        width: 100%;
        margin: 5vw 0 8vw 0;
    }
    #page4-flex p{
        font-size: 4vw;
        width: 90%;
        margin-left: 0vw;
        margin-bottom: 5vw;
    }
    #page4-blue-div{
        width: 90vw;
        padding:5vw;
        margin-top: 0vh;
        margin-left: 0vw;
        padding-bottom: 15vw;
    }
    .blue-div-elem{
        padding: 4.7vw 0;
    }
    .blue-div-elem h4{
        font-size: 3.9vw;
    }
    .blue-div-elem p{
        width: 50%;
        font-size: 3.4vw;
    }
    #page4-content .underline:nth-last-child(1){
        margin: 0 26vw 0 7vw 0;
    }
    #page5{
        min-height: 60vh;
        width: 100%;
    }
    .elem{
        margin-bottom: -2vw;
    }
    .elem h1{
        font-size: 12vw;
    }
    .elem2 h1{
        font-size: 12vw;
    }
    #footer{
        height: 109vh;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vw;
    }
    #footer h1{
        font-size: 9.7vw;
    }
    #footer h1::before{
        font-size: 5vw;
        left: 0%;
        top: -68%;
    }
    .underline{
        margin: 8vw 0;
    }
    #footer-div{
        flex-direction: column;
    }
    #footer-div h6{
        font-size: 4.9vw;
        margin-bottom: 3.5vw;
    }
    .box{
        width: 30%;
        margin-bottom: 5vw;
    }
    #footer-div h5{
        font-size: 5.4vw;
        margin-bottom: 1.5vw;
    }
    #footer>h5{
        font-size: 4vw;
        margin-bottom: 4vw;
    }
}