*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* above are boilerplate of css */
.main{
    width: 200px;
    height: 200px;
    background-color: red;
}
#pixel{
    width: 10000px;
    height: 300px;
    background-color: blanchedalmond;
}
#percent{
    width: 50%;
    height: 50%; 
    background-color: blue;
}
#vw-vh{
    width: 50vw;
    height: 50vh;
    background-color: green;
}
/* diffrence b/w % and vw/vh */
#parent1{
    width: 600px;
    height: 200px;
    background-color: yellow;
}
#child1{
    width:90%;
    height: 100%;
    background-color: saddlebrown;
}

#parent2{
    width: 600px;
    height: 200px;
    overflow: hidden;/*remove this and then understand diff*/
    background-color: yellow;
}
#child2{
    width:90vw; 
    height: 100vh;
    background-color:brown;
}

#em{
    font-size: 16px;
    width: 20em; /*16*20=320px*/
    height: 20em;/*16*20=320px*/
    background-color: coral;
}

html{  /*root element*/
    font-size: 12px;
}
#rem{
    /* font-size: 50px;  not working on rem*/ 
    width: 2rem;  /*12*2=24px*/
    height: 2rem;
    background-color:black;
}

#max-min-w-h{
    width: 1200px; /*not appaly because max-width is 500px it must be less then equal to 500px*/
    max-width: 500px;
    height: 200px;
    min-width: 10px; /*if width is less then it will not applay*/
    max-height: 300px;
    min-height: 20px;/*if height is less then it will not applay*/
    background-color: gold;
}
#pp{
    line-height: 60px;/*1.3,0.5..*/
    text-align: right;
}

#box{
    width: 300px;
    height: 300px;
    background-color: aqua;

    padding: 30px; /*box ke under*/
    margin: 40px;/*pura box ko */
}

#border{
    width: 600px;
    height: 300px;
    background-color:blue;
    /* border: 3px;
    border-color: red;
    border-style: solid; */

    /* border: 3px solid red; */
    /* border: 3px double red; */
    border: 3px dashed red;
    border-radius: 10%; /*cpsule 200px*/
}

#para{
    background-color: blue;
    display: inline;
    /* width: 300px; 
    height: 400px;   we can not inc the height and weight when inline */
}
#para1{
    background-color: red;
    display: inline-block;
    width: 30px; 
    height: 30px;  /* we can inc the height and weight when inline-block */
}
a{
    /* by default a is inline element */
    display: block; /*making a to block element now we can add weight and height*/
}

/*position*/
.car1{
    width: 10px;
    height: 140px;
    background-color: brown;
}
.car2{
    width: 80px;
    height: 120px;
    background-color: blue;
    position: absolute; /*now this car can move to, top,left,..*/
}
.car3{
    width: 105px;
    height: 90px;
    background-color: yellow;
}
.car4{
    width: 10px;
    height: 140px;
    background-color: brown;
}
.car5{
    width: 80px;
    height: 120px;
    background-color: blue;
    position: absolute;
}
.car6{
    width: 105px;
    height: 90px;
    background-color: yellow;
    position: absolute;
}
#dibba{
    width: 300px;
    height: 300px;
    background-color: deeppink;
}
#cube{
    position: absolute;
    left: 30%; /*move on whole page, w.r.t screen*/
    width: 30px;
    height: 30px;
    background-color: rgb(0, 255, 34);
}
#dibba1{
    width: 300px;
    height: 300px;
    background-color: deeppink;
    position: relative;
}
#cube1{
    position: absolute;
    left: 30%;  /*move under dibba1, w.r.t box beacuse of dibba1 is relative*/
    width: 30px;
    height: 30px;
    background-color: rgb(0, 255, 34);
}

/* flex */
#box-flex{
    width: 300px;
    height: 300px;
    background-color: red;
    display: flex;
    justify-content: center;/*x-axise me*/
    align-items: center; /*y-axise me*/
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
#one{
    width: 50px;
    height: 50px;
    background-color: blue;
}
#two{
    width: 50px;
    height: 50px;
    background-color: yellow;
}
#three{
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
}

/* pseudo-element */
#before-after{
    color: red;
    position: relative;
    width: fit-content;
}
/* #before-after::before{
    content: '>';
}
#before-after::after{
    content: '<';
} */
#before-after::before{
    content: ''; /*active the before*/
    width: 100%;
    height: 3px;
    background-color: blue;
    top: 50%;
    position: absolute;
}
#firstline::first-line{ /*effect on fiest line*/
    color: blue; /*it is dynamic*/
}
#firstline::first-letter{ /*effect on fiest letter*/
    font-size: 120px;
}
#firstline::selection{ /*jis element ko select karega us pe effect karega*/
    background-color: yellow;
    color: red;
}
/* pseudo-classes */
#pseudo-classes:hover{ /*when cursor move to this element then effect*/
    color: yellow;
}
button:active{ /*when we click on button then effect*/
    background-color: red;
}
#input-focus:focus{ /*when we click on input then effect*/
    background-color: yellow;
}
/* #nthchild,p:nth-child(2){ 2nd p tag pe effect
    color: red;
} */
#nthchild,p:nth-child(2n){ 
    color: red;
}